@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Roboto";
  background-color: #0079BF;
  font-size: 18px;
  line-height: 1.2em;
  color: #000000;
}

h1, h2 {
  margin: 0;
}